.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

button {
  background-color: #0BEB49;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #098c3b;
}
